- page_title       @group.name
- page_description @group.description_html unless page_description
- header_title     group_title(@group)     unless header_title
- nav "group"
- display_subscription_banner!
- @left_sidebar = true

- content_for :flash_message do
  = render "layouts/header/storage_enforcement_banner", context: @group
  = dispensable_render_if_exists "shared/namespace_storage_limit_alert"

- content_for :page_specific_javascripts do
  - if current_user
    = javascript_tag do
      :plain
        window.uploads_path = "#{group_uploads_path(@group)}";

= render template: "layouts/application"
