- page_title    _("User Settings")
- header_title  _("User Settings"), profile_path unless header_title
- sidebar       "dashboard"
- nav           "profile"
- @left_sidebar = true

- enable_search_settings locals: { container_class: 'gl-my-5' }

- content_for :flash_message do
  = render "layouts/header/storage_enforcement_banner", context: current_user.namespace

= render template: "layouts/application"
